---
import Layout from '../layouts/Layout.astro';
import Header from '../components/header/Header.astro';
import Hero from '../components/hero/Hero.astro';
import Nosotros from '../components/nosotros/Nosotros.astro';
import Sectores from '../components/sectores/Sectores.astro';
import Resenas from '../components/resenas/Resenas.astro';
import MateriaPrima from '../components/materiaprima/MateriaPrima.astro';
import Puertos from '../components/puertos/Puertos.astro';
import FAQ from '../components/faq/FAQ.astro';
import Footer from '../components/footer/Footer.astro';
---

<Layout>
	<Header />
	<main>
		<Hero />
		<Nosotros />
		<Sectores />
		<Resenas />
		<MateriaPrima />
		<Puertos />
		<FAQ />
	</main>
	<Footer />
</Layout>
